<mat-card class="table-header-card">
  <mat-card-header>
    <mat-card-title>User Management</mat-card-title>
    <mat-icon>supervisor_account</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <button mat-raised-button class="slightly-spaced" (click)="addUser()">
      Add user
    </button>
    <mat-form-field class="search-form-field slightly-spaced">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button (click)="getUsers()" matTooltip="Refresh Users" class="slightly-spaced">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Active Users
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="enable-x-scrolling">
      <table mat-table [dataSource]="activeUsers" class="mat-elevation-z8 full-width slightly-spaced">
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef>User Id</th>
          <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let element">{{ element.role }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openUserDetail(element.email)" matTooltip="User Details">
              <mat-icon>launch</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onChangeUserStatus(element,false)"
                    matTooltip="Deactivate User">
              <mat-icon>power_settings_new</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns">Info</tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Deactivated Users
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="enable-x-scrolling">
      <table mat-table [dataSource]="deActivatedUsers" class="mat-elevation-z8 full-width slightly-spaced">
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef>User Id</th>
          <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let element">{{ element.role }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openUserDetail(element.email)" matTooltip="User Details">
              <mat-icon>launch</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onChangeUserStatus(element,true)" matTooltip="Activate User">
              <mat-icon style="color: green;">power_settings_new</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns">Info</tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </mat-expansion-panel>
</mat-accordion>
