<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'over'"
               [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf="jwtToken.token">
      <a *ngIf="jwtToken.getRole().includes('ADMIN')" mat-list-item routerLink="admin/user-management"
         routerLinkActive="active-link">User Management
        <mat-icon>supervisor_account</mat-icon>
      </a>
      <a *ngIf="jwtToken.getRole().includes('ADMIN')" mat-list-item routerLink="admin/real-estate-management" routerLinkActive="active-link">Real Estates
        <mat-icon>business</mat-icon>
      </a>
      <a mat-list-item routerLink="admin/task-overview" routerLinkActive="active-link">Task Overview
        <mat-icon>rowing</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div *ngIf="authService.isLoggedIn">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon" matTooltip="Menu">menu</mat-icon>
        </button>
      </div>
      <span>CheckOutNow</span>
      <div class="container right-align" *ngIf="authService.isLoggedIn">
        <button mat-icon-button matTooltip="User Profile" style="color: white;"
                routerLink="user-profile" routerLinkActive="active-link">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button type="button" mat-icon-button matTooltip="Logout"
                (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
