<mat-card class="centered-container-dialog">
  <mat-card-header>
    <mat-card-title>Create User</mat-card-title>
  </mat-card-header>
  <form [formGroup]="createUserForm">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text"
             formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput type="text"
             formControlName="lastName">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>E-Mail</mat-label>
      <input matInput type="text"
             formControlName="email">
    </mat-form-field>
    <br>
    <phone-country-dropdown (countryChange)="setPhoneNumber($event)"></phone-country-dropdown>
    <mat-form-field class="example-full-width">
      <mat-label>Phone Number</mat-label>
      <input matInput type="text"
             formControlName="phoneNumber">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Preferred Area ZIP Code</mat-label>
      <input matInput type="text"
             formControlName="preferredArea">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" class="slightly-spaced" type="submit"
            (click)="onCreateUser()"
            >Create User</button>
    <button mat-raised-button color="warn" class="slightly-spaced" (click)="onCancel()"
    >Cancel</button>
  </form>
</mat-card>
