<mat-card class="centered-container">
  <mat-card-header>
    <mat-card-title>Change Password</mat-card-title>
  </mat-card-header>
  <form [formGroup]="passwordChangeForm">
    <mat-form-field class="slightly-spaced">
      <mat-label>Old Password</mat-label>
      <input matInput [type]="hidePass ? 'password' : 'text'"
             formControlName="oldPassword" placeholder="Enter your old password">
      <button mat-icon-button matSuffix (click)="toggleHide('hidePass')"
              [attr.aria-label]="hidePass ? 'Show password' : 'Hide password'" type="button">
        <mat-icon>{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <mat-form-field class="slightly-spaced">
      <mat-label>New Password</mat-label>
      <input matInput [type]="hidePassNew ? 'password' : 'text'"
             formControlName="newPassword" placeholder="Enter your password">
      <button mat-icon-button matSuffix (click)="toggleHide('hidePassNew')"
              [attr.aria-label]="hidePassNew ? 'Show password' : 'Hide password'" type="button">
        <mat-icon>{{hidePassNew ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <mat-form-field class="slightly-spaced">
      <mat-label>New Password Repeat</mat-label>
      <input matInput [type]="hidePassRepeat ? 'password' : 'text'"
             formControlName="newPasswordRepeat" placeholder="Enter your password">
      <button mat-icon-button matSuffix (click)="toggleHide('hidePassRepeat')"
              [attr.aria-label]="hidePassRepeat ? 'Show password' : 'Hide password'" type="button">
        <mat-icon>{{hidePassRepeat ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <button
      type="button"
      aria-label="save"
      mat-icon-button
      matTooltip="Change Password"
      class="slightly-spaced"
      (click)="onChangePassword()">
      <mat-icon aria-label="save icon">save</mat-icon>
    </button>
    <button mat-raised-button (click)="onCancel()"
    >Cancel
    </button>
  </form>
</mat-card>
