
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered-container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
