<br>
<mat-card multi="true" class="centered-container">
  <mat-card-header>
    <mat-card-title>Enter Real Estate Details</mat-card-title>
  </mat-card-header>
    <mat-form-field class="slightly-spaced">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="realEstate.name" (keydown)="updateCheckListName()" required>
    </mat-form-field>

    <mat-form-field class="slightly-spaced">
      <mat-label>Country</mat-label>
      <input matInput type="text" [(ngModel)]="realEstate.country" required>
    </mat-form-field>

    <mat-form-field class="slightly-spaced">
      <mat-label>City</mat-label>
      <input matInput type="text" [(ngModel)]="realEstate.city" required>
    </mat-form-field>
    <mat-form-field class="slightly-spaced">
      <mat-label>Address detail</mat-label>
      <input matInput type="text" [(ngModel)]="realEstate.address" required>
    </mat-form-field>

  <mat-form-field class="slightly-spaced">
    <mat-label>Zip Code</mat-label>
    <input matInput type="text" [(ngModel)]="realEstate.zipCode" required>
  </mat-form-field>

    <mat-form-field class="slightly-spaced">
      <mat-label>Type of Real Estate</mat-label>
      <mat-select [(ngModel)]="realEstate.type">
        <mat-option *ngFor="let reType of reTypes" [value]="reType">{{ reType }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="slightly-spaced">
      <mat-label>Calendar URL</mat-label>
      <input matInput type="text" [(ngModel)]="realEstate.calendarUrl">
    </mat-form-field>
</mat-card>
<br>
<mat-card class="centered-container">
  <mat-card-header>
    <mat-card-title>Add check list</mat-card-title>
  </mat-card-header>

  <mat-form-field class="slightly-spaced">
    <input matInput [(ngModel)]="newCheckListName" placeholder="Please enter the name of the checklist">
  </mat-form-field>
  <!-- Button to add a new checklist to the array -->
  <button mat-fab color="primary" aria-label="Add" (click)="realEstate.addChecklist(newCheckListName)"
          matTooltip="Add Checklist" class="slightly-spaced">
    <mat-icon>add</mat-icon>
  </button>

  <!-- Iterate over each checklist in the array -->
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let checkList of realEstate.checkLists; let iList = index" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ checkList.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let item of checkList.checkListItems; let iListItem = index">
        <mat-form-field class="slightly-spaced checklist-item">
          <input matInput [(ngModel)]="item.description" name="item-{{iList}}-{{iListItem}}">
        </mat-form-field>
        <button mat-fab color="warn" aria-label="Add" (click)="realEstate.deleteCheckListItem(iList,iListItem)"
                matTooltip="Delete Checklist Item" class="slightly-spaced">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <button mat-fab color="primary" aria-label="Add" (click)="realEstate.addChecklistItem(iList)"
              matTooltip="Add Checklist Item" class="slightly-spaced">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-fab color="warn" aria-label="Add" (click)="realEstate.deleteCheckList(iList)"
              matTooltip="Delete Checklist" class="slightly-spaced">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <button mat-raised-button color="primary" class="slightly-spaced" (click)="onSaveRealEstate()">
    Create Real Estate Entry
  </button>
</mat-card>





