<mat-card class="centered-container">
  <mat-card-header>
    <mat-card-title>User Details</mat-card-title>
  </mat-card-header>
  <div *ngIf="user.userId">
    <form [formGroup]="userDetailForm">
      <mat-form-field class="example-full-width slightly-spaced">
        <mat-label>User Id</mat-label>
        <input matInput type="text"
               formControlName="userId"
               readonly
        >
      </mat-form-field>
      <mat-form-field class="example-full-width slightly-spaced">
        <mat-label>Name</mat-label>
        <input matInput type="text"
               formControlName="name"
               readonly
        >
      </mat-form-field>
      <mat-form-field class="example-full-width slightly-spaced">
        <mat-label>Last Name</mat-label>
        <input matInput type="text"
               formControlName="lastName"
               [readonly]="!isEditMode">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width slightly-spaced">
        <mat-label>E-Mail</mat-label>
        <input matInput type="text"
               formControlName="email"
               readonly>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width slightly-spaced">
        <mat-label>Phone Number</mat-label>
        <input matInput type="text"
               formControlName="phoneNumber"
               [readonly]="!isEditMode">
      </mat-form-field>
      <mat-form-field class="example-full-width slightly-spaced">
        <mat-label>Preferred Area</mat-label>
        <input matInput type="text"
               formControlName="preferredArea"
               [readonly]="!isEditMode">
      </mat-form-field>
      <br>
      <div *ngIf="isEditMode">
        <button
          type="button"
          aria-label="save"
          mat-icon-button
          matTooltip="Save Changes"
          (click)="onSave()">
          <mat-icon aria-label="save icon">save</mat-icon>
        </button>
      </div>
      <div *ngIf="!isEditMode">
        <button
          type="button"
          aria-label="Edit"
          mat-icon-button
          matTooltip="Edit User Details"
          (click)="onEditMode()">
          <mat-icon aria-label="edit icon">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="changePassword()"
                matTooltip="Change Password">
          <mat-icon>vpn_key</mat-icon>
        </button>
      </div>
    </form>
  </div>
</mat-card>
