/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.slightly-spaced{
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 0.25%;
  margin-top: 0.25%;
}
