/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.slightly-spaced{
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 0.25%;
  margin-top: 0.25%;
}

.centered-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.centered-container-dialog {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checklist-item {
  width: 80%;
}

.center-spinner {
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


@media(max-width: 925px) {
  .enable-x-scrolling {
    overflow-x: auto;
  }
  .mat-card-content img, .mat-card-content .image-card, .comment-content img, .comment-content .image-card {
    max-width: 100%; /* Ensures content does not overflow */
    height: auto; /* Maintain aspect ratio */
  }

}

