<div class="logo-container">
  <img src="assets/logo.png" alt="Logo" class="center">
</div>

<mat-card class="centered-container">
  <form [formGroup]="createUserForm" (ngSubmit)="onCreateUser()">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text"
             formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput type="text"
             formControlName="lastName">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>E-Mail</mat-label>
      <input matInput type="text"
             formControlName="email">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width-block">
      <mat-label>Password</mat-label>
      <input matInput type="password"
             formControlName="password">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width-block">
      <mat-label>Repeat password</mat-label>
      <input matInput type="password"
             formControlName="repeatedPassword">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="createUserForm.get('password')?.value!=createUserForm.get('repeatedPassword')?.value">
      <span>Invalid</span>
    </div>
    <br>
    <button mat-raised-button color="primary"
            >Create User</button>
  </form>
</mat-card>
