<mat-spinner
  *ngIf="taskLoading || realEstateLoading || creatorLoading || assigneeLoading"></mat-spinner>
<div *ngIf="!(taskLoading || realEstateLoading || creatorLoading || assigneeLoading)">
  <mat-card multi="true" class="centered-container">
    <mat-card-header>
      <mat-card-title>Task Details</mat-card-title>
    </mat-card-header>

    <mat-form-field class="slightly-spaced">
      <mat-label>Id</mat-label>
      <input matInput type="text" [ngModel]="task.id" readonly>
    </mat-form-field>
    <mat-form-field class="slightly-spaced">
      <mat-label>Check-Out Date</mat-label>
      <input matInput type="text" [ngModel]="task.taskDate |  date: 'dd.MM.yyyy HH:mm'" readonly>
    </mat-form-field>
    <mat-form-field class="slightly-spaced">
      <mat-label>Assignee</mat-label>
      <input matInput type="text" [ngModel]="task.assignee.name + ' ' + task.assignee.lastName" readonly>
    </mat-form-field>
    <mat-form-field class="slightly-spaced">
      <mat-label>Creator</mat-label>
      <input matInput type="text" [ngModel]="task.creator.name + ' ' + task.creator.lastName" readonly>
    </mat-form-field>
  </mat-card>
  <br>
  <mat-card multi="true" class="centered-container">
    <mat-card-header>
      <mat-card-title>Real Estate Details</mat-card-title>
    </mat-card-header>
    <mat-form-field class="slightly-spaced">
      <mat-label>Country</mat-label>
      <input matInput type="text" [ngModel]="task.realEstate.country" readonly>
    </mat-form-field>
    <mat-form-field class="slightly-spaced">
      <mat-label>City</mat-label>
      <input matInput type="text" [ngModel]="task.realEstate.city" readonly>
    </mat-form-field>
    <mat-form-field class="slightly-spaced">
      <mat-label>Name</mat-label>
      <input matInput type="text" [ngModel]="task.realEstate.name" readonly>
    </mat-form-field>
    <mat-form-field class="slightly-spaced">
      <mat-label>Address</mat-label>
      <input matInput type="text" [ngModel]="task.realEstate.address" readonly>
    </mat-form-field>
    <mat-form-field class="slightly-spaced">
      <mat-label>Zip Code</mat-label>
      <input matInput type="text" [ngModel]="task.realEstate.zipCode" readonly>
    </mat-form-field>
    <mat-form-field class="slightly-spaced">
      <mat-label>Type</mat-label>
      <input matInput type="text" [ngModel]="task.realEstate.type" readonly>
    </mat-form-field>
  </mat-card>
  <br>
  <mat-card class="centered-container">
    <mat-card-header>
      <mat-card-title>Checklists</mat-card-title>
    </mat-card-header>
    <!-- Iterate over each checklist in the array -->
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let checkList of task.realEstate.checkLists; let iList = index" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ checkList.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let item of getTaskCheckListItems(checkList); let iListItem = index">
          <mat-form-field class="slightly-spaced checklist-item">
            <input matInput [ngModel]="item.checklistItem.description" name="item-{{iList}}-{{iListItem}}" readonly>
          </mat-form-field>
          <mat-checkbox color="primary" matTooltip="Done" [ngModel]="item.status =='DONE'"
                        (change)="toggleCheck($event,item)"></mat-checkbox>
          <button mat-icon-button (click)="markProblematic(item)" matTooltip="Mark as problematic"
                  class="slightly-spaced">
            <mat-icon [ngClass]="item.status == 'ISSUE' ? 'warn' : 'dark'">warning</mat-icon>
          </button>

        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <mat-card-header>
      <mat-card-title>Comments</mat-card-title>
    </mat-card-header>
    <br>
    <div *ngFor="let comment of comments">
      <mat-card class="comment-card">
        <mat-card-header>
          <mat-card-subtitle [innerHTML]="comment.author.name + ' ' + comment.author.lastName
          + '<br>' + (comment.date | date: 'medium')">
          </mat-card-subtitle>
        </mat-card-header>
        <br>
        <mat-card-content class="comment-content">
          {{ comment.content }}
        </mat-card-content>
      </mat-card>
      <br>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Add a comment</mat-label>
      <textarea matInput [(ngModel)]="currentComment.content"></textarea>
    </mat-form-field>
    <div id="action-buttons" class="form-row">
      <input
        hidden
        type="file"
        id="imgInput"
        #uploader
        accept="image/*" capture="camera" (change)="handleFileInput($event)"
      />
      <button mat-icon-button (click)="uploader.click()" matTooltip="Add picture"
              class="slightly-spaced">
        <mat-icon matSuffix>camera_alt</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Add" (click)="reportProblem()"
              matTooltip="Report Problem Immediately" class="slightly-spaced">
        <mat-icon matSuffix>mood_bad</mat-icon>
      </button>
    </div>
    <div *ngFor="let image of currentComment.images; let i = index" class="image-card">
      <mat-card>
        <mat-card-content>
          <img [src]="image.encodedImg" class="uploaded-image">
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button color ="warn" (click)="deleteImage(i)" matTooltip="Delete picture">
            <mat-icon matSuffix>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <button mat-button (click)="addComment()" [disabled]="!currentComment.content || currentComment.content == ''">Post
      Comment
    </button>
    <br>
    <button mat-raised-button color="primary" aria-label="Submit Task" (click)="submitTask()"
            matTooltip="Submit Task">
      Submit Task
    </button>
  </mat-card>
</div>
